
.collapse{
    float:right;
    margin-right: 10px;
}

.card{
    margin:10px auto;
}
#prev_comments{
    overflow-y:scroll;
}

.comment-area{
    min-height:50px;
    border:2px solid black;
    border-radius:8px;
    margin:5px;
    
    


    .comment{
        padding:10px;
        font-weight: 700;
    }
    .sentiments{
        display: none;
        padding:10px 15px;
    }
}
.team-list{
    list-style: none;
    font-weight: 700;
    display: inline-block;

    li{
        padding-left:10px;
    }
}
